<div class="table-of-contents">
  <h1>Table of Contents</h1>

  <h2>Independent RIAs</h2>

  <div class="container rias">
    <div class="row headshots">
      <div class="col-md-2 headshot">
        <img src="/assets/headshot1.jpg">
        <span class="name">Person 1</span>
      </div>
      <div class="col-md-2 headshot">
        <img src="/assets/headshot2.jpg">
        <span class="name">Person 2</span>
      </div>
      <div class="col-md-2 headshot">
        <img src="/assets/headshot3.jpg">
        <span class="name">Person 3</span>
      </div>
      <div class="col-md-2 headshot">
        <img src="/assets/headshot4.jpg">
        <span class="name">Person 4</span>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="bios row">
      <div class="col-md-6 col-md-offset-2 bio active">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cur igitur, inquam, res tam dissimiles eodem nomine appellas? An tu me de L. Quae quidem vel cum periculo est quaerenda vobis; Tenent mordicus. Isto modo ne improbos quidem, si essent boni viri. Quae diligentissime contra Aristonem dicuntur a Chryippo.
        <button class="btn btn-primary">Read More</button>
      </div>
      <div class="col-md-6 col-md-offset-2 bio">
        Ut in geometria, prima si dederis, danda sunt omnia. Non dolere, inquam, istud quam vim habeat postea videro; Nobis aliter videtur, recte secusne, postea; Eam si varietatem diceres, intellegerem, ut etiam non dicente te intellego; Itaque primos congressus copulationesque et consuetudinum instituendarum voluntates fieri propter voluptatem; Nam quid possumus facere melius? Si mala non sunt, iacet omnis ratio Peripateticorum. Teneo, inquit, finem illi videri nihil dolere. Dolor ergo, id est summum malum, metuetur semper, etiamsi non aderit; Satisne vobis videor pro meo iure in vestris auribus commentatus?
        <button class="btn btn-primary">Read More</button>
      </div>
      <div class="col-md-6 col-md-offset-2 bio">
        At negat Epicurus-hoc enim vestrum lumen estquemquam, qui honeste non vivat, iucunde posse vivere. Ergo illi intellegunt quid Epicurus dicat, ego non intellego? Si quidem, inquit, tollerem, sed relinquo. Age, inquies, ista parva sunt. Superiores tres erant, quae esse possent, quarum est una sola defensa, eaque vehementer. Quod, inquit, quamquam voluptatibus quibusdam est saepe iucundius, tamen expetitur propter voluptatem. Multoque hoc melius nos veriusque quam Stoici.
        <button class="btn btn-primary">Read More</button>
      </div>
      <div class="col-md-6 col-md-offset-2 bio">
        Quamquam haec quidem praeposita recte et reiecta dicere licebit. Ne amores quidem sanctos a sapiente alienos esse arbitrantur. Consequens enim est et post oritur, ut dixi. Duo Reges: constructio interrete. Ita relinquet duas, de quibus etiam atque etiam consideret. Quia nec honesto quic quam honestius nec turpi turpius. Summum ením bonum exposuit vacuitatem doloris; Scio enim esse quosdam, qui quavis lingua philosophari possint;
        <button class="btn btn-primary">Read More</button>
      </div>
    </div>
  </div>
  
  <div>
  </div> 
</div>
