<h1>Table of Contents</h1>

<h2>Independent RIAs</h2>

<div class="container-fluid rias">
  <div class="row headshots">
    <div class="col-md-2 headshot">
      <img src="/assets/headshot1.jpg">
      <span class="name">Person 1</span>
    </div>
    <div class="col-md-2 headshot">
      <img src="/assets/headshot2.jpg">
      <span class="name">Person 2</span>
    </div>
    <div class="col-md-2 headshot">
      <img src="/assets/headshot3.jpg">
      <span class="name">Person 3</span>
    </div>
    <div class="col-md-2 headshot">
      <img src="/assets/headshot4.jpg">
      <span class="name">Person 4</span>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-2 bio active">
      Person 1
    </div>
    <div class="col-md-6 col-md-offset-2 bio">
      Person 2
    </div>
    <div class="col-md-6 col-md-offset-2 bio">
      Person 3
    </div>
    <div class="col-md-6 col-md-offset-2 bio">
      Person 4
    </div>
  </div>
</div>
